@charset "UTF-8";

/* Подключение текста */
@import url("https://fonts.googleapis.com/css2?family=Kodchasan:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

html, body {
    height: 100%;
    font-family: "Comfortaa", cursive;
    font-size: 20px;
    color: #41543E;
    background-color: #F5F5F5;
  }

  .wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .container {
    max-width: 1800px;
    margin: 0px auto;
  }

  .content {
    flex: 1 0 auto;
  }

  .header {
    background-color: #B3DEAC;
  }
  .header__body {
    display: flex;
    justify-content: space-between;
    height: 90px;
  }
  .header__logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .header__logo img {
    transform: scale(-1, 1);
    width: 65px;
    height: 65px;
  }
  .header__textlogo {
    color: #FFEBCC;
    font-size: 40px;
    font-family: "Kodchasan", sans-serif;
    text-shadow: 1px 0 1px #919F50, 0 1px 1px #919F50, -1px 0 1px #919F50, 0 -1px 1px #919F50;
  }
  .header__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .header__list {
    display: flex;
    justify-content: space-around;
  }
  .header__list li {
    padding: 0px 40px;
  }
  .header__link {
    color: #41543E;
  }
  .header__account img {
    width: 44px;
    height: 40px;
    fill: #4F654C;
  }
  .header__phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 0px 40px;
  }
  .header__phonezakaz {
    border-radius: 65px;
    padding: 10px;
    background-color: #6C9E67;
    color: #FFFFFE;
  }

  .footer {
    background-color: #B3DEAB;
  }
  .footer__body {
    height: 278px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__logo img {
    transform: scale(-1, 1);
  }
  .footer__textlogo {
    font-size: 40px;
    font-family: "Kodchasan", sans-serif;
  }
  .footer__phone {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__phonezakaz {
    border-radius: 65px;
    padding: 10px;
    background-color: #6C9E67;
    color: #FFFFFE;
  }
  #top_block {
    width: 100%;
    height: 30%;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 700px;
    font-size: 30px;
    font-family: "Kodchasan", sans-serif;
color: grey;
  }
  #profile {
    width: 219px;
    height: 186px;
    border-radius: 80px;
    background-color: grey;
    margin-left: 40px;

  }
