.contact{ 
  margin-bottom:3%;
}
.our_contact {
  padding: 7% 0 1% 0;
  text-align: center;
  font-size: 50px;
  font-family: "Arapey", sans-serif;
}

.stroka {
  display: flex;
  align-items: center;
  margin-top: 8%;
  border-bottom: 1px solid;
  width: 100%;
}

.text1, .text4 {
  letter-spacing: 0, 5px;
  font-size: 34px;
  color: #000000;
  font-family: "Arapey", sans-serif;
  padding: 0 0 3% 8%;
}

.text2 {
  letter-spacing: 0, 5px;
  font-size: 34px;
  color: #000000;
  font-family: "Arial", sans-serif;
  padding: 0 0 3% 8%;
}

.text3 {
  letter-spacing: 0, 5px;
  font-size: 34px;
  color: #000000;
  font-family: "Comfortaa", sans-serif;
  padding: 0 0 3% 8%;
}

.all_elements span {
  letter-spacing: 0, 5px;
  font-size: 34px;
  color: #000000;
  font-family: "Comfortaa", sans-serif;
}

.all_elements img {
  margin-bottom: 16px;
  height: 49px;
  width: 49px;
}

.all_elements {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 550px;
  width: 700px;
}
