@charset "UTF-8";
/*Продукт----------*/
.protit__body {
  height: 50px;
  width: 1800px;
  margin: 0 auto;
  margin-top: 50px;
  border-bottom: 1px solid #6A7668;
}
.protit__text {
  font-size: 35px;
}

.products {
  margin: 100px;
}
.products__row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 50px;
}
.products__element {
  display: flex;
  flex-direction: column;
}
.products__img {
  margin: 0 auto;
  height: 271px;
  width: 248px;
  background-color: wheat;
}
.products__text {
  width: 350px;
  height: 60px;
  margin: 10px 0px;
  font-size: 24px;
  color: #000;
}
.products__price {
  margin: 10px 0px;
  font-size: 36px;
  color: #000;
}
.products__textp {
  text-align: center;
}
.products__button {
  margin: 0 auto;
}
.products__bbutton {
  width: 183px;
  height: 52px;
  border-radius: 65px;
  background-color: #6c9e67;
  font-size: 32px;
  color: #fff;
}
.products__hbutton {
  height: 45px;
  width: 45px;
}

@media (max-width: 1364px) {
  .products__row {
    flex-wrap: wrap;
  }
}
/*--------------------*/