.tabs1 {
  width: 600px;
  margin: 0 auto;
}

.tabs_items {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  display: flex;
  justify-content: space-around;
}

.tabs_item {
  margin-top: 5%;
  color: black;
}

.text1 {
  display: flex;
  justify-content: center;
  margin-right: 9%;
  margin-top: 7%;
  font-size: 30px;
}

.text2 {
  display: flex;
  justify-content: center;
  margin-right: 9%;
  margin-top: 5%;
  font-size: 30px;
}

.tabs_block {
  display: none;
  font-family: Arial, Helvetica, sans-serif;
}

.tabs_block:target {
  display: block;
}

.button {
  padding: 2%;
  font-size: 25px;
}

.input {
  display: flex;
  justify-content: space-around;
  width: 500px;
  height: 60px;
  background: #D4D4D4;
  margin-top: 8%;
  text-align: center;
  margin-left: 8%;
  border-radius: 60px;
}

.remind {
  display: flex;
  font-size: 15px;
  text-decoration: underline;
  color: #79b7fd;
  justify-content: space-around;
  margin-left: 60%;
  margin-top: 1%;
}

.button {
  width: 500px;
  height: 60px;
  border-radius: 60px;
  font-size: 32px;
  text-align: center;
  background: #6C9E67;
  display: flex;
  justify-content: space-around;
  margin-left: 8%;
  margin-top: 11%;
}

.rectangle {
  height: 2px;
  width: 600px;
  margin-top: 5%;
  background: #D4D4D4;
  margin-right: 60%;
}

.tabs_block1 {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5%;
}

.fioandpasswordtext {
  display: flex;
  justify-content: space-around;
  margin: 4% 20%;
  font-size: 32px;
  margin-bottom: 0;
}

.fioandpasswordblock {
  margin: 0 20%;
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
}

.block1 {
  width: 500px;
  height: 60px;
  background: #D4D4D4;
  border-radius: 65px;
}

.loginandpasswordtext {
  display: flex;
  justify-content: space-around;
  margin: 3% 20%;
  font-size: 32px;
  margin-bottom: 0;
}

.block2 {
  margin-left: 5%;
}

.loginandpasswordblock {
  margin: 0 20%;
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
}

.block3 {
  width: 500px;
  height: 60px;
  background: #D4D4D4;
  border-radius: 65px;
}

.emailandapproval {
  margin: 0 20%;
  display: flex;
  justify-content: space-around;
}

.block4 {
  margin-left: 6%;
  font-size: 32px;
  margin-top: 5%;
}

.checkboxandtext {
  margin-left: 8%;
  margin-top: 2%;
}

.checkbox {
  width: 20px;
  height: 20px;
  margin-top: 3%;
}

.emailandregistration {
  display: flex;
  justify-content: space-around;
  margin: 3% 20%;
  font-size: 32px;
  margin-bottom: 0;
}

.email {
  width: 500px;
  height: 60px;
  border-radius: 60px;
  font-size: 25px;
  background: #D4D4D4;
}

.button1 {
  width: 500px;
  height: 60px;
  border-radius: 60px;
  font-size: 32px;
  background: #6C9E67;
  text-align: center;
}

@media (max-width: 1700px) {
  .tabs {
    margin-bottom: 6%;
  }
  input {
    margin: 0 4%;
  }
}