@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Kodchasan:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*Продукт----------*/
.protit__body {
  height: 50px;
  width: 1800px;
  margin: 0 auto;
  margin-top: 50px;
  border-bottom: 1px solid #6A7668;
}
.protit__text {
  font-size: 35px;
}

.products {
  margin: 100px;
}
.products__row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 50px;
}
.products__element {
  display: flex;
  flex-direction: column;
}
.products__img {
  margin: 0 auto;
  height: 271px;
  width: 248px;
  background-color: wheat;
}
.products__text {
  width: 350px;
  height: 60px;
  margin: 10px 0px;
  font-size: 24px;
  color: #000;
}
.products__price {
  margin: 10px 0px;
  font-size: 36px;
  color: #000;
}
.products__textp {
  text-align: center;
}
.products__button {
  margin: 0 auto;
}
.products__bbutton {
  width: 183px;
  height: 52px;
  border-radius: 65px;
  background-color: #6c9e67;
  font-size: 32px;
  color: #fff;
}
.products__hbutton {
  height: 45px;
  width: 45px;
}
.products__hbutton:hover {
  background-image: url("../../img/Покраш/сердце.svg");
}

/*--------------------*/
html, body {
  height: 100%;
  font-family: "Comfortaa", cursive;
  font-size: 20px;
  color: #41543E;
  background-color: #FFFFFE;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1800px;
  margin: 0px auto;
}

.content {
  flex: 1 0 auto;
}

.header {
  background-color: #B3DEAC;
}
.header__body {
  display: flex;
  justify-content: space-between;
  height: 90px;
}
.header__logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__logo img {
  transform: scale(-1, 1);
  width: 65px;
  height: 65px;
}
.header__textlogo {
  color: #FFEBCC;
  font-size: 40px;
  font-family: "Kodchasan", sans-serif;
  text-shadow: 1px 0 1px #919F50, 0 1px 1px #919F50, -1px 0 1px #919F50, 0 -1px 1px #919F50;
}
.header__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__list {
  display: flex;
  justify-content: space-around;
}
.header__list li {
  padding: 0px 40px;
}
.header__link {
  color: #41543E;
}
.header__account img {
  width: 44px;
  height: 40px;
  fill: #4F654C;
}
.header__phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 0px 40px;
}
.header__phonezakaz {
  border-radius: 65px;
  padding: 10px;
  background-color: #6C9E67;
  color: #FFFFFE;
}

.slider {
  border-radius: 65px;
  background-color: #9CB997;
  margin: 0 auto;
  margin-top: 100px;
  height: 544px;
  width: 1445px;
}
.slider__item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 544px;
  width: 1445px;
}
.slider__item img {
  border-radius: 65px;
}
.slider__textosn {
  font-size: 50px;
}
.slider__textosn span {
  font-weight: 700;
}
.slider__text {
  font-size: 28px;
}
.slider__img1 {
  height: 271px;
  width: 279px;
}
.slider__img2 {
  height: 267px;
  width: 364px;
}
.slider__img3 {
  height: 221px;
  width: 221px;
}
.slider__itemv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.slider__itemv1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.slider__itemv2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}
.slider__itemv1 div {
  margin-left: 40px;
}
.slider__itemv2 div {
  margin-left: 40px;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -30px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
}

.slider .slick-arrow.slick-prev {
  left: 0;
}

.slider .slick-arrow.slick-next {
  right: 0;
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.textv {
  display: flex;
  text-align: center;
  margin-top: 100px;
}
.textv__text {
  font-size: 32px;
}

::-webkit-input-placeholder {
  padding-left: 15px;
  color: #000000;
}

::-moz-placeholder {
  padding-left: 15px;
  color: #000000;
} /* Firefox 19+ */
:-moz-placeholder {
  padding-left: 15px;
  color: #000000;
} /* Firefox 18- */
:-ms-input-placeholder {
  padding-left: 15px;
  color: #000000;
}

.emailpod {
  background-color: #D4D4D4;
  width: 1125px;
  height: 646px;
  border-radius: 65px;
  margin: 100px auto;
}
.emailpod__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.emailpod__text {
  margin-top: 70px;
  font-size: 28px;
  color: #000000;
}
.emailpod__pola input {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  background-color: #9CB996;
  height: 68px;
  width: 673px;
}
.emailpod__button {
  margin-top: 80px;
  background-color: #6A7668;
  border-radius: 65px;
  height: 68px;
  width: 203px;
  color: #FFFFFE;
}

.footer {
  background-color: #B3DEAB;
}
.footer__body {
  height: 278px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__logo img {
  transform: scale(-1, 1);
}
.footer__textlogo {
  font-size: 40px;
  font-family: "Kodchasan", sans-serif;
}
.footer__phone {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__phonezakaz {
  border-radius: 65px;
  padding: 10px;
  background-color: #6C9E67;
  color: #FFFFFE;
}