//Файл обнуления
@import "nullstyle.scss";

// Импорт стайла страницы продуктов
@import "./product.scss";

//Страница аккаунта
@import "./account.scss";

//Страница Контактов
@import "./Contact.scss";

//Шрифты
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@600&display=swap');
//font-family: 'Kodchasan', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
//font-family: 'Comfortaa', cursive;

html,body{
      height: 100%;
      font-family: 'Comfortaa', cursive;
      font-size: 20px;
      color: #41543E;
      background-color: #FFFFFE;
}

.wrapper {
      min-height: 100%;
      overflow: hidden;


      display: flex;
      flex-direction: column;
}

.container {
      max-width: 1800px;
      margin: 0px auto;
}

@media (max-width:1870px){
      .container {
            max-width: 1700px;
      }
}

@media (max-width:1780px){
      .container {
            max-width: 1600px;
      }
}

@media (max-width:1680px){
      .container {
            max-width: 1400px;
      }
}

@media (max-width:1480px){
      .container {
            max-width: 1200px;
      }
}

.content{
      flex: 1 0 auto;
}

.header {
      background-color: #B3DEAC;

      &__body {
            display: flex;
            justify-content: space-between;
            height: 90px;
      }

      &__logo {
            display: flex;
            justify-content: space-around;
            align-items: center;
      }

      &__logo img{
            transform: scale(-1, 1);
            width: 65px;
            height: 65px;
      }

      &__textlogo {
            color: #FFEBCC;
            font-size: 40px;
            font-family: 'Kodchasan', sans-serif;

            text-shadow: 1px 0 1px #919F50, 
            0 1px 1px #919F50, 
            -1px 0 1px #919F50, 
            0 -1px 1px #919F50;
      }

      &__menu {
            display: flex;
            justify-content: space-around;
            align-items: center;
      }

      &__list {
            display: flex;
            justify-content: space-around;
      }

      &__list li{
            padding: 0px 40px;
      }

      &__link {
            color: #41543E;
      }

      &__account img{
            width: 44px;
            height: 40px;
            fill: #4F654C;
      }

	&__phone {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px 0px 0px 40px;
	}

	&__text {
	}

	&__phonezakaz {
            border-radius: 65px;
            padding: 10px;
            background-color: #6C9E67;
            color: #FFFFFE;
	}
}

.slider {
      border-radius: 65px;
      background-color: #9CB997;
      margin: 0 auto;
      margin-top: 100px;
      height: 544px;
      width: 1445px;

      &__item {
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 544px;
            width: 1445px;
      }

      &__item img{
            border-radius: 65px;
      }

      &__textosn {
            font-size: 50px;
      }

      &__textosn span{
            font-weight: 700;
      }

      &__text{
            font-size: 28px;
      }

      &__img1{
            height: 271px;
            width: 279px;
            border: 5px solid #c77675;
      }

      &__img2{
            height: 267px;
            width: 364px;
      }

      &__img3{
            height: 221px;
            width: 221px;
      }

      &__itemv{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
      }

      &__itemv1{
            display: flex;
            flex-direction: row;
            align-items: center;

            margin-bottom: 20px;
      }

      &__itemv2{
            display: flex;
            flex-direction: row;
            align-items: center;

            margin-top: 20px;
      }

      &__itemv1 div{
            margin-left: 40px;
      }

      &__itemv2 div{
            margin-left: 40px;
      }
}

@media (max-width:1780px){
      
      .slider{
            height: 466px;
            width: 1356px; 

            &__item{
                  height: 466px;
                  width: 1356px;  
            }

            &__textosn {
                  font-size: 40px;
            }
      
            &__textosn span{
                  font-weight: 700;
            }
      
            &__text{
                  font-size: 26px;
            }
      
            &__img1{
                  height: 230px;
                  width: 240px;
            }
      
            &__img2{
                  height: 200px;
                  width: 278px;
            }
      
            &__img3{
                  height: 178px;
                  width: 178px;
            }
      }
}

@media (max-width:1668px){
      
      .slider{
            height: 400px;
            width: 1200px; 

            &__item{
                  height: 400px;
                  width: 1200px; 
            }

            &__textosn {
                  font-size: 40px;
            }
      
            &__textosn span{
                  font-weight: 700;
            }
      
            &__text{
                  font-size: 26px;
            }
      
            &__img1{
                  height: 200px;
                  width: 220px;
            }
      
            &__img2{
                  height: 180px;
                  width: 260px;
            }
      
            &__img3{
                  height: 150px;
                  width: 150px;
            }
      }
}

.slider .slick-arrow{
      position: absolute;
      top: 50%;
      margin: -30px 0px 0px 0px;
      z-index: 10;
      font-size: 0;
}

.slider .slick-arrow.slick-prev{
      left: 0;
}
.slider .slick-arrow.slick-next{
      right: 0;
}


/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
      overflow: hidden;
}
/* Лента слайдов */
.slick-track{
      display: flex;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

.textv {
      display: flex;
      text-align: center;
      margin-top: 100px;

      &__body {
      }

      &__text {
            font-size: 32px;
      }
}


//Для текста в полях ввода
::-webkit-input-placeholder {padding-left: 15px; color:#000000;}
::-moz-placeholder          {padding-left: 15px; color:#000000;}/* Firefox 19+ */
:-moz-placeholder           {padding-left: 15px; color:#000000;}/* Firefox 18- */
:-ms-input-placeholder      {padding-left: 15px; color:#000000;}

.emailpod {
      background-color: #D4D4D4;
      width: 1125px;
      height: 646px;
      border-radius: 65px;

      margin: 100px auto;

      &__body {
            display: flex;
            flex-direction: column;
            align-items: center;
      }

      &__text {
            margin-top: 70px;
            font-size: 28px;
            color: #000000;
      }

      &__pola input{
            margin-top: 13%;

            display: flex;
            flex-direction: column;
            align-items: center;

            font-size: 20px;
            background-color: #9CB996;
            height: 68px;
            width: 673px;
      }

      &__button{
            margin-top: 10%;

            background-color: #6A7668;
            border-radius: 65px;
            height: 68px;
            width: 203px;
            color: #FFFFFE;
      }

}

@media (max-width:1780px){
      .emailpod {
            width: 999px;
            height: 567px;
      
            margin: 100px auto;
      
            &__text {
                  margin-top: 70px;
                  font-size: 25px;
            }
      
            &__pola input{
                  margin-top: 10%;
      
                  font-size: 15px;
                  height: 60px;
                  width: 699px;
            }
      
            &__button{
                  margin-top: 10%;
      
                  border-radius: 65px;
                  height: 68px;
                  width: 203px;
            }
      
      }
}

@media (max-width:1668px){
      .emailpod {
            width: 880px;
            height: 500px;
      
            margin: 100px auto;
      
            &__text {
                  margin-top: 7%;
                  font-size: 23px;
            }
      
            &__pola input{
                  margin-top: 11%;
      
                  font-size: 15px;
                  height: 55px;
                  width: 630px;
            }
      
            &__button{
                  margin-top: 6%;
      
                  height: 57px;
                  width: 189px;
            }
      
      }
}




.footer {
      background-color: #B3DEAB;
      
      &__body {
            height: 278px;
            display: flex;
            justify-content: space-around;
            align-items: center;
      }

      &__logo{
            display: flex;
            justify-content: space-between;
            align-items: center;
      }

      &__logo img{
            transform: scale(-1, 1);
      }

      &__textlogo{
            font-size: 40px;
            font-family: 'Kodchasan', sans-serif;
      }

      &__phone{
            display: flex;
            flex-direction: column;
            align-items: center;
      }

      &__phonezakaz{
            border-radius: 65px;
            padding: 10px;
            background-color: #6C9E67;
            color: #FFFFFE;
      }
}